################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleEncryptDecrypt/v16
/ConsoleEncryptDecrypt/bin/Debug
/ConsoleEncryptDecrypt/obj/Debug
